<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pavanahv.allakumarreddy.moneybook">
    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.pavanahv.allakumarreddy.moneybook.Activities.ExportActivity"></activity>
        <activity android:name="com.pavanahv.allakumarreddy.moneybook.Activities.ReportGraphDetailActivity" />
        <activity
            android:name="com.pavanahv.allakumarreddy.moneybook.Activities.WelcomeIconViewActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.pavanahv.allakumarreddy.moneybook.Activities.AutoAddActivity"
            android:label="@string/title_activity_auto_add"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.pavanahv.allakumarreddy.moneybook.Activities.RePaymentActivity"
            android:label="@string/title_activity_re_payment"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name="com.pavanahv.allakumarreddy.moneybook.Services.SmartRemainderIntentService"
            android:exported="false" />

        <activity android:name="com.pavanahv.allakumarreddy.moneybook.Activities.CreateSmartPinActivity" />
        <activity android:name="com.pavanahv.allakumarreddy.moneybook.Activities.CreatePinActivity" />
        <activity android:name="com.pavanahv.allakumarreddy.moneybook.Activities.FiltersAnalyticsActivity" />

        <receiver
            android:name="com.pavanahv.allakumarreddy.moneybook.broadcastreceivers.BootUpCompleteReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.pavanahv.allakumarreddy.moneybook.broadcastreceivers.AlarmReceiver"
            android:enabled="true"
            android:exported="true"
            android:process=":remote" />
        <receiver
            android:name="com.pavanahv.allakumarreddy.moneybook.broadcastreceivers.SmartRemainderAlarmReceiver"
            android:enabled="true"
            android:exported="true"
            android:process=":remote" />
        <receiver
            android:name="com.pavanahv.allakumarreddy.moneybook.broadcastreceivers.ReportsAlarmReceiver"
            android:enabled="true"
            android:exported="true"
            android:process=":remote" />
        <receiver
            android:name="com.pavanahv.allakumarreddy.moneybook.broadcastreceivers.NetworkConnectionReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity android:name="com.pavanahv.allakumarreddy.moneybook.test.TestActivity" />
        <activity
            android:name="com.pavanahv.allakumarreddy.moneybook.Activities.SettingsActivity"
            android:label="@string/title_activity_settings" />

        <service
            android:name="com.pavanahv.allakumarreddy.moneybook.Services.BackupToGoogleDriveService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name="com.pavanahv.allakumarreddy.moneybook.Activities.AddActivity" />

        <service
            android:name="com.pavanahv.allakumarreddy.moneybook.Services.MoneyBookIntentService"
            android:exported="false" />

        <activity
            android:name="com.pavanahv.allakumarreddy.moneybook.Activities.MessageDetailActivity"
            android:label="@string/title_activity_message_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.pavanahv.allakumarreddy.moneybook.Activities.MessagesActivity"
            android:label="@string/title_activity_messages"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.pavanahv.allakumarreddy.moneybook.test.DataBaseActivity" />
        <activity
            android:name="com.pavanahv.allakumarreddy.moneybook.Activities.MessageParseActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.pavanahv.allakumarreddy.moneybook.Activities.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.pavanahv.allakumarreddy.moneybook.Activities.MainActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize|screenLayout"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.pavanahv.allakumarreddy.moneybook.Activities.AnalyticsActivity"
            android:label="@string/title_activity_analytics"
            android:configChanges="orientation|screenSize|screenLayout"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.pavanahv.allakumarreddy.moneybook.Activities.GraphActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_graph"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name="com.pavanahv.allakumarreddy.moneybook.Activities.AnalyticsItemDetail"
            android:label="@string/title_activity_analytics_item_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <!--
            <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBGYYItdEQDNIre1wbCCAzfMP6n6PHYtuA" />
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name="com.pavanahv.allakumarreddy.moneybook.Activities.GoogleDriveActivity" />
        <activity android:name="com.pavanahv.allakumarreddy.moneybook.Activities.RestoreActivity" />
        <activity android:name="com.pavanahv.allakumarreddy.moneybook.Activities.WelcomeActivity" />
    </application>

</manifest>